[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-binance = "*"
psycopg2-binary = "*"
websocket = "*"
python-decouple = "*"
Jinja2 = "*"
SQLAlchemy = "*"
TA-Lib = "*"

[dev-packages]

[requires]
python_version = "3.10"
